/* STYLE SECTIONING TAGS */
* { /* Reset the space of the webpage */
    margin: 0px;
    padding: 0px;
  }
  
  body {
    background-color: #e3d4f2;
    font-family: "Helvetica";
    text-align: center;
  }
  
  /* STYLE TEXT */
  
  h1 {
    color: #410576;
    margin-top: 1em;
    font-size: 275%;
    margin-bottom: 1em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    margin-bottom: 2em;
    color: #410576;
    margin-left: auto;
    margin-right: auto;
    padding-left: 6em;
    padding-right: 6em;
    font-size: 19px;
  }
  #aboutMe{
    font-size: 22px;
  }
  h4{
    color: #410576;
    margin-bottom: 3em;
    margin-right: auto;
    margin-left: auto;
    padding-left: 5em;
    padding-right: 5em;
  }
  h2{
    color: #410576;
    margin-bottom: 1em;
    margin-right: auto;
    margin-left: auto;
    font-size: 30px;
    margin-top: 4em;
  }
  #fact{
    margin-left: auto;
    margin-right: auto;
    padding-left: 5em;
    padding-right: 5em;
    font-size: 20px;
  }
  h3{
    color: #410576;
    margin-bottom: 1em;
    margin-right: auto;
    margin-left: auto;
  }
  #link{
    color: #260345;
  }
  /* STYLE IMAGES */
  img {
    width: 60%;
    margin-bottom: 2em;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  /* STYLE NAV BAR */
  ul {
    list-style-type: none;
    background-color: #410576;
    overflow: hidden;
    padding: 0.4em;
    text-align: right;
  }
  li {
    display: inline;
  }
  li a {
    text-decoration: none;
    color:  #e3d4f2;
    font-size: 1.4em;
    padding: 1em;
  }
  li a:hover {
    background-color: #e3d4f2;
    color: #410576;
  }
  /* STYLE BUTTONS */
  #factButton{
    margin-bottom: 2em;
    font-size: 20px;
    margin-top: 3em;
    color: #410576;
  }
  /* ADD MORE! */
  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
  }
  flex-item {
    flex-basis: 100%;
    margin: 1%;
  }
  @media screen and (max-width: 850px){
    .flex-container{
      flex-wrap: wrap;
    }
  }